@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Great+Vibes&family=Lobster&family=Noto+Serif+Display:ital,wght@0,200;1,600&display=swap");
body {
  margin: 0px auto;
  padding: 0px;
  background-color: rgba(251, 242, 247, 0.76);
  width: 1920px;
}

.header {
  width: 100%;
  height: 760px;
  background-image: linear-gradient(rgba(248, 228, 228, 0.2), rgba(219, 205, 213, 0.2)), url("../img/bg5.jpg");
  background-size: cover;
  position: relative;
}
.header .logo {
  position: absolute;
  height: 20%;
  width: 20%;
  margin: 0px;
  padding: 0px;
  float: left;
  color: #fafafa;
  text-align: center;
  flex-direction: column;
}
.header .logo a {
  font-family: "Great Vibes", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
  top: 2%;
}
.header .links {
  position: absolute;
  width: 46%;
  height: auto;
  float: right;
  right: 0.6%;
}
.header .links ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.header .links ul li {
  position: relative;
  list-style-type: none;
}
.header .links ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgba(251, 251, 251, 0.993);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
}
.header .links ul li :hover {
  color: #f6f1f2;
}
.header .links ul li ::after {
  content: " ";
  position: absolute;
  width: 0%;
  bottom: 0%;
  border-bottom: 2px solid #f5e7da;
  left: 0%;
  transition: 0.5s;
}
.header .links ul li :hover::after {
  width: 100%;
}
.header .click-button {
  position: absolute;
  width: 40%;
  height: 30%;
  top: 35%;
  left: 30%;
  position: relative;
}
.header .click-button button {
  width: 50%;
  height: 40%;
  position: relative;
  top: 30%;
  left: 25%;
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  background-color: rgba(15, 14, 14, 0.294);
  color: rgba(251, 251, 251, 0.993);
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
}
.header .click-button button:hover {
  color: #f8f2f2;
  transform: scale(1.1);
  transition: 0.5s;
  border: 1px solid black;
}
.header .click-button ::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #f6dae7;
  top: 0%;
  left: 0%;
  transition: 0.5s;
  opacity: 0.4;
}
.header .click-button ::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #faf9f9;
  top: 0%;
  right: 0%;
  opacity: 0.4;
  transition: 0.5s;
}
.header .click-button :hover::before {
  width: 50%;
  opacity: 0.3;
}
.header .click-button :hover::after {
  width: 50%;
  opacity: 0.3;
}
.header .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  overflow: hidden;
  z-index: 0;
}
.header .slides input {
  display: none;
}
.header .slides .slide {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.header .slides .slide img {
  object-fit: cover;
  width: 1920px;
  height: 100%;
}
.header .slides .navigation {
  position: absolute;
  bottom: 1%;
  left: 30%;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header .slides .navigation label {
  width: 30px;
  margin: 0.5%;
  height: 30px;
  border: 1px solid saddlebrown;
  border-radius: 30px;
  cursor: pointer;
}
.header .slides .navigation label:hover {
  background-color: antiquewhite;
  transition: 1s;
}
.header .slides .navigation-change {
  position: absolute;
  bottom: 1%;
  left: 30%;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header .slides .navigation-change div {
  width: 30px;
  margin: 0.5%;
  height: 30px;
  transition: 1s;
  border-radius: 30px;
  cursor: pointer;
}
.header .slides #radio1:checked ~ .slide {
  left: 0%;
}
.header .slides #radio1:checked ~ .navigation-change .btn-radio1 {
  background-color: rgba(246, 199, 117, 0.5);
}
.header .slides #radio2:checked ~ .slide {
  left: -100%;
}
.header .slides #radio2:checked ~ .navigation-change .btn-radio2 {
  background-color: rgba(246, 199, 117, 0.5);
}
.header .slides #radio3:checked ~ .slide {
  left: -200%;
}
.header .slides #radio3:checked ~ .navigation-change .btn-radio3 {
  background-color: rgba(246, 199, 117, 0.5);
}
.header .slides #radio4:checked ~ .slide {
  left: -300%;
}
.header .slides #radio4:checked ~ .navigation-change .btn-radio4 {
  background-color: rgba(246, 199, 117, 0.5);
}

.container-fluid {
  width: 100%;
  height: auto;
  clear: both;
  margin-top: 1%;
}
.container-fluid h1 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: rgba(19, 17, 15, 0.575);
  font-family: "Great Vibes", cursive;
}
.container-fluid p {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  color: #141414;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 20pxs;
  font-style: italic;
}

.container-fluid .show-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
  left: 0%;
}
.container-fluid .show-images .demo-img-first {
  width: 24%;
  height: auto;
  margin-bottom: 1%;
  position: relative;
}
.container-fluid .show-images .demo-img-first img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.container-fluid .show-images .demo-img-first button {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 25%;
  left: 25%;
  font-size: 1.4rem;
  color: #3b3a3a;
  font-family: "Barlow Condensed", sans-serif;
  background-color: rgba(248, 233, 242, 0.6);
  border: none;
  text-align: center;
  font-weight: bold;
}

.search {
  background-image: linear-gradient(rgba(248, 228, 228, 0.2), rgba(219, 205, 213, 0.4)), url("../img/s1.jpg");
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.search input {
  width: 30%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 35%;
}

/*# sourceMappingURL=style.css.map */
